body {
	background:url(/images/login/bg_2.png) repeat-x;
	font-family:Sylfaen;
	color:#333333;
	font-size:12px;
}

@font-face {
	font-family: 'BPGNinoMtavruliBold';
	src: url('fonts/bpg_excelsior_caps_dejavu_2010-webfont.eot');
	src: local('a??'),
		url('fonts/bpg_excelsior_caps_dejavu_2010-webfont.woff') format('woff'),
		url('fonts/bpg_excelsior_caps_dejavu_2010-webfont.ttf') format('truetype'),
		url('fonts/bpg_excelsior_caps_dejavu_2010-webfont.svg') format('svg');
}

a {color: #673669; text-decoration: none;}
a:hover {color: #da325a; text-decoration: none;}

ul {
	margin: 0px;
	padding: 0px;
	padding-left: 14px;
}

li.section{
	font-family: 'BPGNinoMtavruliBold';
	list-style: none;
	float: left;
	width: 150px;
	height: 110px;
	text-align: center;
	line-height: 18px;
	font-size:15px;
    background: #f1f1f1;
    border-radius: 6px;
    margin: 4px;
    padding: 4px;
    border: 1px solid #dddddd;
    border-bottom: 2px solid #dddddd;
}

a:hover li.section {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-bottom: 2px solid #da325a;
}

img{
	border: none;
}

.hello{
	font-family: 'BPGNinoMtavruliBold';
	right: 0px;
	height: 30px;
	position: fixed;
	top: 4px;
	padding-top: 4px;
	padding-right: 10px;
	font-size:16px;
}

.filter{
	font-family: 'BPGNinoMtavruliBold';
	height: 10px;
	top: 3px;
}

.ui-jqgrid-title{
	font-family: 'BPGNinoMtavruliBold';
}

.day_interval{
	font-family: 'BPGNinoMtavruliBold';
}

/* Login - Begine */
input {color:#595959; font-size:18px;}

.box { width:700px; overflow:hidden; padding:15px 0px 15px 0px; background:#fff; border:1px solid #d5d5d5; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow: 0 0 0px rgba(3,44,52,.22); -moz-box-shadow: 0 0 0px rgba(3,44,52,.22); -webkit-box-shadow: 0 0 0px rgba(3,44,52,.22);}
.box h3 { color:#7f7f7f; font-size:12px; line-height:10px; margin:0; padding:0; font-weight:normal; outline:none; text-align: center;}

.form { margin:0 auto; padding:0;}
.form fieldset { border:none; padding: 10px 0 0; margin:0;}
.form .row { margin-bottom:6px; position:relative; line-height:33px;}

.form .row input[type="text"], .form .row input[type="password"] { height:33px; line-height:33px; border:1px solid #c5c5c5; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset;}
.form .row input[type="text"]:focus, .form .row input[type="text"]:hover, .form .row input[type="password"]:focus, .form .row input[type="password"]:hover { border:1px solid #e7c971; box-shadow: 0 0 5px #ffe8b1, 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px #ffe8b1, 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px #ffe8b1, 0 2px 2px rgba(0,0,0,.1) inset;}
.form .row input.login { background:url(/images/login/input_login.png) left center no-repeat #f5f5f5; width:318px; padding: 1px 5px 1px 45px;}
.form .row input.password { background:url(/images/login/input_password.png) left center no-repeat #f5f5f5; width:193px; padding: 1px 130px 1px 45px; }

.form .row input[type="checkbox"] { display:block; float:left; margin: 9px 6px 9px 2px; }
.form .row label { color:#5b5b5b; font-size:14px; display:block; float:left; }
.form .row input[type="submit"] {
	font-family: 'BPGNinoMtavruliBold';
	background:#da325a;
	border-radius:4px;
	border:none;
	width:120px;
	height:32px;
	padding:10px 10px -1px 10px;
	color:#ffffff;
	cursor:pointer;
}

.form .row input[type="submit"]:hover {
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background-color:#673669;
	color:#ffffff;
}

.errorMessage {color:red;font-size: small}
/* Login - End */

.main {width:620px; height:250px; margin: 0px auto; padding-top:100px;}
.copy {width:702px;text-align:center; color:#da325a; font-size:11px; margin:2px 0 0 2px; text-shadow:3px 1px 1px #ffffff;}

/* autocomplete */
.ui-autocomplete.ui-front { z-index: 1000 !important; }

/* charts */
.stat-form .ui-widget {font-size: 11px !important;}

.stat-form {
	width: 100%;
    float: left;
    position: relative;
    margin-top: 4px;
}

#c_submit, #p_submit{
	font-family: 'BPGNinoMtavruliBold';
}
/* Highslide (c) */
#chart_client > div > svg > text > tspan, #chart_product > div > svg > text > tspan {display: none}