body { background:url(/images/login/bg.png); font-family:Arial, Helvetica, sans-serif; color:#7f7f7f;}
input { font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:18px;}

.main { width:400px; height:250px; position:absolute; top:10%; left:50%; margin-left:-200px;}
.box { width:370px; overflow:hidden; padding:15px; background:#fff; border:1px solid #d5d5d5; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow: 0 0 20px rgba(3,44,52,.22); -moz-box-shadow: 0 0 20px rgba(3,44,52,.22); -webkit-box-shadow: 0 0 20px rgba(3,44,52,.22);}
.box h3 { color:#7f7f7f; font-size:12px; line-height:10px; margin:0; padding:0; font-weight:normal; outline:none; text-align: center;}

.form { margin:0; padding:0;}
.form fieldset { border:none; padding: 10px 0 0; margin:0;}
.form .row { margin-bottom:6px; position:relative; line-height:33px;}

.form .row input[type="text"], .form .row input[type="password"] { height:33px; line-height:33px; border:1px solid #c5c5c5; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset;}
.form .row input[type="text"]:focus, .form .row input[type="text"]:hover, .form .row input[type="password"]:focus, .form .row input[type="password"]:hover { border:1px solid #e7c971; box-shadow: 0 0 5px #ffe8b1, 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px #ffe8b1, 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px #ffe8b1, 0 2px 2px rgba(0,0,0,.1) inset;}
.form .row input.login { background:url(/images/login/input_login.png) left center no-repeat #f5f5f5; width:318px; padding: 1px 5px 1px 45px;}
.form .row input.password { background:url(/images/login/input_password.png) left center no-repeat #f5f5f5; width:193px; padding: 1px 130px 1px 45px; }

.form .row input[type="checkbox"] { display:block; float:left; margin: 9px 6px 9px 2px; }
.form .row label { color:#5b5b5b; font-size:14px; display:block; float:left; }
.form .row input[type="submit"] { cursor:pointer; color:#42230b; text-shadow:1px 1px 0 #fff6b9; border:1px solid #db9c2e; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; background:#f7ce50; background: -webkitkit-gradient(linear, bottom, top, from(#f1ac33), to(#fef673)); background: -moz-linear-gradient(bottom, #f1ac33, #fef673); font-size:16px; padding:5px 20px; font-weight:bold; float:right;}
.form .row input[type="submit"]:hover { background:#edb954; background: -webkitkit-gradient(linear, bottom, top, from(#dc9f35), to(#fed273)); background: -moz-linear-gradient(bottom, #dc9f35, #fed273); font-size:16px; padding:5px 20px; font-weight:bold; float:right;}

.copy { float:right; color:#da325a; font-size:10px; margin:10px 30px 0 0; text-shadow:3px 1px 1px #fff;}
.errorMessage {color:red;font-size: small}